/* ./styles/globals.css */
body,
html,
#__next {
  height: 100%;
  font-family: Arial;
}

/*
.fadeIn {
  animation: fadeIn 0.05s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
